 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h1:first-letter{
    color: #FF3300;
    font-size: 70px;
  }
  
  h2:first-letter{
    color: #FF3300;
  }
  
  h2.contact-title{
    color: #818181;
  }

  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .hero-image {
      background-image: url("../images/imge_back.png");
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .container-contact{
     background-image: url("../images/foot.jpg");
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

  }

  .container-say{
      background-image: url("../images/person.jpg");
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
  }

  .item-content{
    color: white;
  }
  .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
}
  .jumbotron {
      background-image: url("../images/imge_back.png");
      height: 100vh !important;
      background-attachment: fixed;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      position: relative !important;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;

  }


   textarea{
    columns: 3;
    width: 600px !important;
   }
  .form-text{
    width: 600px !important;
  }

  .form-email{
    width: 600px !important;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: dimgray;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: auto;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #fff;
  }
  .carousel-indicators li {
      border-color: #818181;
  }
  .carousel-indicators li.active {
      background-color: #818181;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }

  a.work-link{
    text-decoration: none;
  }

  /*.panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }*/


  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

/* Set a specific color for each brand */

/* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: silver !important;
      
      background-border: 1px solid gray !important; 
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
      background-color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }


  img:hover {
   opacity: 0.7 !important;
}

.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: silver;
  border-radius: 5px;:;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

  .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.middle:hover{
  opacity: 1;
}
.block-title{
  text-align: center;
  color: #818181;
}

em{
  color: white;
}
.block-views-blockportfolio-block-1 img{
     border-radius: 7px !important;
}
.views-field-field-img-portfolio {
  padding-bottom: 10px !important;
}

.main-container img{
  border-radius: 7px !important;
}

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
        
    }
  }